.custom-navbar {
    background-color: #28808A;
    font-family: 'Poppins', sans-serif;
}

.navbar.ms-auto .nav-link {
    color: #ffffff;
}

.navbar.ms-auto .nav-link:hover {
    color: #000000;
}

.custom-navbar .bi-list {
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-right: 5px;
}